html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box; }

.navbar-default {
  background-color: #3581b8;
  border-color: #407ed2; }
  .navbar-default .navbar-brand {
    color: #ffffff; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #eef5f6; }
  .navbar-default .navbar-text {
    color: #ffffff; }
  .navbar-default .navbar-nav > li > a {
    color: #ffffff; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #eef5f6; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #eef5f6;
    background-color: #407ed2; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #eef5f6;
    background-color: #407ed2; }
  .navbar-default .navbar-toggle {
    border-color: #407ed2; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #407ed2; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #ffffff; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ffffff; }
  .navbar-default .navbar-link {
    color: #ffffff; }
    .navbar-default .navbar-link:hover {
      color: #eef5f6; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #eef5f6; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #eef5f6;
    background-color: #407ed2; } }
.avail-header {
  width: 100%;
  text-align: center; }

.navbar-default {
  background-color: #3581B8;
  color: white; }

.navbar-nav a {
  color: white; }

.landing-txt {
  border: solid 3px white;
  padding: 2%;
  width: 40%;
  margin: 10% 0 0 30%;
  text-align: center;
  color: white;
  font-size: 4em; }

.background-target {
  margin: -20px 0 0 0;
  background-image: url("../img/image14.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  border: solid thin black; }

#avail-map {
  height: 94vh;
  width: 59vw;
  margin: -20px 2% 0 0; }
  @media screen and (max-width: 1000px) {
    #avail-map {
      width: 90vw;
      height: 50vh;
      margin: -20px 0 0 5%; } }

.infowindowheader {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin: 2% 0; }

.infowindowimg {
  height: 100px;
  width: 100px;
  margin: 0 5px; }

.listing-name {
  font-size: 3em;
  font-weight: bold;
  width: 100%;
  text-align: center; }

.listing-addr {
  font-size: 1em;
  width: 100%;
  text-align: center; }

.carousel-wrap {
  margin: 2%; }

.listing-price {
  font-size: 2em;
  width: 100%;
  text-align: center;
  font-weight: bold; }

.listing-desc {
  font-size: 1.5em;
  text-align: center; }

.avail-contact {
  width: 95%;
  margin: 0 0 0 2.5%;
  padding: 2% 0;
  font-size: 2em;
  border: solid thin black;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: -27%;
  left: -.5%;
  background-color: #fcfcfc; }
  .avail-contact:hover {
    background-color: #f2f2f2; }
  @media screen and (max-width: 1000px) {
    .avail-contact {
      bottom: -35%;
      left: .5%; } }

.avail-mailer-form {
  position: fixed;
  top: 30%;
  left: 35%;
  width: 30%;
  height: 40%;
  background-color: rgba(228, 225, 225, 0.9);
  box-shadow: -1px -1px 22px -1px rgba(0, 0, 0, 0.26);
  border-radius: 0.4em; }
  @media screen and (max-width: 1000px) {
    .avail-mailer-form {
      top: 25%;
      width: 65%;
      left: 17.5%;
      height: 30%; } }
  .avail-mailer-form .mailer-header {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold; }
    @media screen and (max-width: 1000px) {
      .avail-mailer-form .mailer-header {
        font-size: 2em; } }
  .avail-mailer-form #avail-contact-name {
    display: block;
    margin: 2% 5%;
    width: 90%;
    border-radius: 0.2em;
    border: none; }
    @media screen and (max-width: 1000px) {
      .avail-mailer-form #avail-contact-name {
        font-size: 2.5em; } }
  .avail-mailer-form #avail-contact-email {
    display: block;
    margin: 2% 5%;
    width: 90%;
    border-radius: 0.2em;
    border: none; }
    @media screen and (max-width: 1000px) {
      .avail-mailer-form #avail-contact-email {
        font-size: 2.5em; } }
  .avail-mailer-form #avail-contact-message {
    display: block;
    margin: 2% 5%;
    width: 90%;
    height: 130px;
    border: none; }
    @media screen and (max-width: 1000px) {
      .avail-mailer-form #avail-contact-message {
        font-size: 2.5em;
        height: 200px; } }
  .avail-mailer-form #avail-send-email {
    padding: 2% 10%;
    margin: 2%;
    text-align: center;
    background-color: #c6c6c6;
    cursor: pointer;
    float: left; }
    @media screen and (max-width: 1000px) {
      .avail-mailer-form #avail-send-email {
        font-size: 2em; } }
  .avail-mailer-form .avail-mailer-close {
    padding: 2% 10%;
    margin: 2%;
    text-align: center;
    background-color: #c6c6c6;
    cursor: pointer;
    float: right; }
    @media screen and (max-width: 1000px) {
      .avail-mailer-form .avail-mailer-close {
        font-size: 2em; } }

/*# sourceMappingURL=styles.css.map */
