html, body {
  height: 100%;
  width: 100%;
  margin: 0; }

.navbar-default {
  background-color: #3581b8;
  border-color: #407ed2; }
  .navbar-default .navbar-brand {
    color: #ffffff; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #eef5f6; }
  .navbar-default .navbar-text {
    color: #ffffff; }
  .navbar-default .navbar-nav > li > a {
    color: #ffffff; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #eef5f6; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #eef5f6;
    background-color: #407ed2; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #eef5f6;
    background-color: #407ed2; }
  .navbar-default .navbar-toggle {
    border-color: #407ed2; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #407ed2; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #ffffff; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ffffff; }
  .navbar-default .navbar-link {
    color: #ffffff; }
    .navbar-default .navbar-link:hover {
      color: #eef5f6; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #eef5f6; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #eef5f6;
    background-color: #407ed2; } }
.avail-header {
  width: 100%;
  text-align: center; }

.navbar-default {
  background-color: #3581B8;
  color: white; }

.navbar-nav a {
  color: white; }

.landing-txt {
  border: solid 3px white;
  padding: 2%;
  width: 40%;
  margin: 10% 0 0 30%;
  text-align: center;
  color: white;
  font-size: 4em; }

.background-target {
  margin: -20px 0 0 0;
  background-image: url("../img/image14.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  border: solid thin black; }

#avail-map {
  height: 94vh;
  width: 59vw;
  margin: -20px 2% 0 0; }

.infowindowheader {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin: 2% 0; }

.infowindowimg {
  height: 100px;
  width: 100px;
  margin: 0 5px; }

.listing-name {
  font-size: 3em;
  font-weight: bold;
  width: 100%;
  text-align: center; }

.listing-addr {
  font-size: 1em;
  width: 100%;
  text-align: center; }

.carousel-wrap {
  margin: 2%; }

.listing-price {
  font-size: 2em;
  width: 100%;
  text-align: center;
  font-weight: bold; }

.listing-desc {
  font-size: 1.5em;
  text-align: center; }

.avail-mailer-form {
  position: fixed;
  top: 40%;
  left: 30%;
  width: 20%;
  height: 30%;
  background-color: rgba(228, 225, 225, 0.9);
  box-shadow: -1px -1px 22px -1px rgba(0, 0, 0, 0.26); }
  .avail-mailer-form #avail-contact-name {
    display: block; }
  .avail-mailer-form #avail-contact-email {
    display: block; }
  .avail-mailer-form #avail-contact-message {
    display: block; }

/*# sourceMappingURL=styles.css.map */
